praw==3.5.0
pytest
mock
simplejson
redis
rq
rq-scheduler
rq-dashboard
mysqlclient
sqlalchemy
alembic
ConcurrentLogHandler
airbrake
pyyaml
pytz
numpy

#if you have trouble with mysqlclient on OSX High Sierra
# run:
# xcode-select --install
# LDFLAGS=-L/usr/local/opt/openssl/lib pip install mysqlclient
