praw==7.7.1
pytest
mock
simplejson
redis
rq
rq-scheduler
rq-dashboard
mysqlclient
sqlalchemy==1.3.18
alembic==1.4.2
concurrent-log-handler
airbrake==1.3.3
pyyaml
pytz
numpy
pathlib
psutil

#if you have trouble with mysqlclient on OSX High Sierra
# run:
# xcode-select --install
# LDFLAGS=-L/usr/local/opt/openssl/lib pip install mysqlclient
