{
    "database": "",
    "user": "",
    "host": "",
    "password": "",
    "reddit_client_id" : "",
    "reddit_client_secret" : "",
    "reddit_redirect_uri" : "",
    "twitter_consumer_key" : "",
    "twitter_consumer_secret" : ""
}
